#%RAML 0.8
title: Payment system
version: 1.0
documentation:
- title: Payment system
  content: |
    # Introduction

    What does your API do?


    # Overview

    Things that the developers should know about


    # Authentication

    What is the preferred way of using the API?


    # Error Codes

    What errors and status codes can a user expect?


    # Rate limit

    Is there a limit to the number of requests an user can send?
baseUri: https://payment.checksystem.biz
baseUriParameters: {}
/registerUser:
  get:
    description: ''
    responses: {}
    queryParameters:
      Id_Terminal:
        description: ''
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Id_Group:
        description: ''
        type: integer
        example: 1
        required: true
        displayName: Id_Group
/queryUser:
  get:
    description: ''
    responses: {}
    queryParameters:
      Id_Terminal:
        description: ''
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Customer:
        description: ''
        type: integer
        required: true
        displayName: Customer
      Password:
        description: ''
        type: integer
        example: 8401
        required: true
        displayName: Password
/querySystemStatus:
  get:
    description: ''
    responses: {}
    queryParameters:
      Id_Terminal:
        description: ''
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
/registerPayment:
  get:
    description: ''
    responses: {}
    queryParameters:
      transactionID:
        description: ''
        type: string
        example: c92c0d37-6eb9-44b0-b82e-7a7930ac6c3c
        required: true
        displayName: transactionID
      Id_Terminal:
        description: ''
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Customer:
        description: ''
        type: integer
        required: true
        displayName: Customer
      Password:
        description: ''
        type: integer
        example: 8401
        required: true
        displayName: Password
      Amount:
        description: ''
        type: number
        example: 100.00
        required: true
        displayName: Amount
/registerPayoutBegin:
  get:
    description: ''
    responses: {}
    queryParameters:
      transactionID:
        description: ''
        type: string
        example: 5ee91f85-6aa4-4376-bddf-f31dabe01fd5
        required: true
        displayName: transactionID
      Id_Terminal:
        description: ''
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Customer:
        description: ''
        type: integer
        required: true
        displayName: Customer
      Password:
        description: ''
        type: integer
        example: 8401
        required: true
        displayName: Password
      Amount:
        description: ''
        type: number
        example: 100.00
        required: true
        displayName: Amount
/registerPayoutEnd:
  get:
    description: ''
    responses: {}
    queryParameters:
      transactionID:
        description: ''
        type: string
        example: 38d18ed0-4405-42e5-8138-c7bb80320704
        required: true
        displayName: transactionID
      BeginTransactionID:
        description: ''
        type: string
        example: undefined
        required: true
        displayName: BeginTransactionID
      Id_Terminal:
        description: ''
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Customer:
        description: ''
        type: integer
        required: true
        displayName: Customer
      Password:
        description: ''
        type: integer
        example: 8401
        required: true
        displayName: Password
      dispenseStatus:
        description: ''
        type: string
        example: successful
        required: true
        displayName: dispenseStatus
      Amount:
        description: ''
        type: number
        example: 100.00
        required: true
        displayName: Amount
      WithdrawalAmount:
        description: ''
        type: number
        example: 100.00
        required: true
        displayName: WithdrawalAmount
