#%RAML 0.8
title: Payment system
version: 1.0
documentation:
- title: Payment system
  content: |
    # Introduction

    What does your API do?


    # Overview

    Things that the developers should know about


    # Authentication

    What is the preferred way of using the API?


    # Error Codes

    What errors and status codes can a user expect?


    # Rate limit

    Is there a limit to the number of requests an user can send?
baseUri: https://payment.checksystem.biz
protocols:
- HTTPS
baseUriParameters: {}
/registerUser:
  get:
    responses:
      200:
        description: Success
    queryParameters:
      Id_Terminal:
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Id_Group:
        type: integer
        example: 1
        required: true
        displayName: Id_Group
/queryUser:
  get:
    responses:
      200:
        description: Success
    queryParameters:
      Id_Terminal:
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Customer:
        type: string
        example: 0000000168
        required: true
        displayName: Customer
      Password:
        type: integer
        example: 8401
        required: true
        displayName: Password
/querySystemStatus:
  get:
    responses:
      200:
        description: Success
    queryParameters:
      Id_Terminal:
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
/registerPayment:
  get:
    responses:
      200:
        description: Success
    queryParameters:
      transactionID:
        type: string
        example: e2f7bfac-cd36-428c-9851-91092240d5e3
        required: true
        displayName: transactionID
      Id_Terminal:
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Customer:
        type: string
        example: 0000000168
        required: true
        displayName: Customer
      Password:
        type: integer
        example: 8401
        required: true
        displayName: Password
      Amount:
        type: number
        example: 100.00
        required: true
        displayName: Amount
/registerPayoutBegin:
  get:
    responses:
      200:
        description: Success
    queryParameters:
      transactionID:
        type: string
        example: 93002c51-1dd4-47e4-a849-f831d117e0b1
        required: true
        displayName: transactionID
      Id_Terminal:
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Customer:
        type: string
        example: 0000000168
        required: true
        displayName: Customer
      Password:
        type: integer
        example: 8401
        required: true
        displayName: Password
      Amount:
        type: number
        example: 100.00
        required: true
        displayName: Amount
/registerPayoutEnd:
  get:
    responses:
      200:
        description: Success
    queryParameters:
      transactionID:
        type: string
        example: 11869b5e-1071-4cd4-bacc-dc7998794ca7
        required: true
        displayName: transactionID
      BeginTransactionID:
        type: string
        example: undefined
        required: true
        displayName: BeginTransactionID
      Id_Terminal:
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Customer:
        type: string
        example: 0000000168
        required: true
        displayName: Customer
      Password:
        type: integer
        example: 8401
        required: true
        displayName: Password
      dispenseStatus:
        type: string
        example: successful
        required: true
        displayName: dispenseStatus
      Amount:
        type: number
        example: 100.00
        required: true
        displayName: Amount
      WithdrawalAmount:
        type: number
        example: 100.00
        required: true
        displayName: WithdrawalAmount
