#%RAML 0.8
title: Payment system
version: 1.0
documentation:
- title: Payment system
  content: |
    # Introduction

    What does your API do?


    # Overview

    Things that the developers should know about


    # Authentication

    What is the preferred way of using the API?


    # Error Codes

    What errors and status codes can a user expect?


    # Rate limit

    Is there a limit to the number of requests an user can send?
baseUri: https://payment.checksystem.biz
baseUriParameters: {}
/registerUser:
  get:
    description: ''
    responses: {}
    queryParameters:
      Id_Terminal:
        description: ''
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Id_Group:
        description: ''
        type: integer
        example: 1
        required: true
        displayName: Id_Group
/queryUser:
  get:
    description: ''
    responses: {}
    queryParameters:
      Id_Terminal:
        description: ''
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Customer:
        description: ''
        type: integer
        required: true
        displayName: Customer
      Password:
        description: ''
        type: integer
        example: 8401
        required: true
        displayName: Password
/querySystemStatus:
  get:
    description: ''
    responses: {}
    queryParameters:
      Id_Terminal:
        description: ''
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
/registerPayment:
  get:
    description: ''
    responses: {}
    queryParameters:
      transactionID:
        description: ''
        type: string
        example: bc9c5992-6e86-4e77-95bd-efc34b46ceed
        required: true
        displayName: transactionID
      Id_Terminal:
        description: ''
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Customer:
        description: ''
        type: integer
        required: true
        displayName: Customer
      Password:
        description: ''
        type: integer
        example: 8401
        required: true
        displayName: Password
      Amount:
        description: ''
        type: number
        example: 100.00
        required: true
        displayName: Amount
/registerPayoutBegin:
  get:
    description: ''
    responses: {}
    queryParameters:
      transactionID:
        description: ''
        type: string
        example: add4f584-33e2-45ce-a558-85114fd00960
        required: true
        displayName: transactionID
      Id_Terminal:
        description: ''
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Customer:
        description: ''
        type: integer
        required: true
        displayName: Customer
      Password:
        description: ''
        type: integer
        example: 8401
        required: true
        displayName: Password
      Amount:
        description: ''
        type: number
        example: 100.00
        required: true
        displayName: Amount
/registerPayoutEnd:
  get:
    description: ''
    responses: {}
    queryParameters:
      transactionID:
        description: ''
        type: string
        example: a3899c14-4031-4309-9fa2-15ccf7e73080
        required: true
        displayName: transactionID
      BeginTransactionID:
        description: ''
        type: string
        example: undefined
        required: true
        displayName: BeginTransactionID
      Id_Terminal:
        description: ''
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Customer:
        description: ''
        type: integer
        required: true
        displayName: Customer
      Password:
        description: ''
        type: integer
        example: 8401
        required: true
        displayName: Password
      dispenseStatus:
        description: ''
        type: string
        example: successful
        required: true
        displayName: dispenseStatus
      Amount:
        description: ''
        type: number
        example: 100.00
        required: true
        displayName: Amount
      WithdrawalAmount:
        description: ''
        type: number
        example: 100.00
        required: true
        displayName: WithdrawalAmount
