#%RAML 0.8
title: Payment system
version: 1.0
documentation:
- title: Payment system
  content: |
    # Introduction

    What does your API do?


    # Overview

    Things that the developers should know about


    # Authentication

    What is the preferred way of using the API?


    # Error Codes

    What errors and status codes can a user expect?


    # Rate limit

    Is there a limit to the number of requests an user can send?
baseUri: https://payment.checksystem.biz
protocols:
- HTTPS
baseUriParameters: {}
/registerUser:
  get:
    description: 'TODO: Add Description'
    responses:
      200:
        description: Success
    queryParameters:
      Id_Terminal:
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Id_Group:
        type: integer
        example: 1
        required: true
        displayName: Id_Group
/queryUser:
  get:
    description: 'TODO: Add Description'
    responses:
      200:
        description: Success
    queryParameters:
      Id_Terminal:
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Customer:
        type: string
        example: 0000000168
        required: true
        displayName: Customer
      Password:
        type: integer
        example: 8401
        required: true
        displayName: Password
/querySystemStatus:
  get:
    description: 'TODO: Add Description'
    responses:
      200:
        description: Success
    queryParameters:
      Id_Terminal:
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
/registerPayment:
  get:
    description: 'TODO: Add Description'
    responses:
      200:
        description: Success
    queryParameters:
      transactionID:
        type: string
        example: f4cd4da1-a43a-45e7-b399-8667919d2a1b
        required: true
        displayName: transactionID
      Id_Terminal:
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Customer:
        type: string
        example: 0000000168
        required: true
        displayName: Customer
      Password:
        type: integer
        example: 8401
        required: true
        displayName: Password
      Amount:
        type: number
        example: 100.00
        required: true
        displayName: Amount
/registerPayoutBegin:
  get:
    description: 'TODO: Add Description'
    responses:
      200:
        description: Success
    queryParameters:
      transactionID:
        type: string
        example: 7f2f17e3-76aa-47e5-9cb5-7167de580df5
        required: true
        displayName: transactionID
      Id_Terminal:
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Customer:
        type: string
        example: 0000000168
        required: true
        displayName: Customer
      Password:
        type: integer
        example: 8401
        required: true
        displayName: Password
      Amount:
        type: number
        example: 100.00
        required: true
        displayName: Amount
/registerPayoutEnd:
  get:
    description: 'TODO: Add Description'
    responses:
      200:
        description: Success
    queryParameters:
      transactionID:
        type: string
        example: 541b8833-6cbf-4ec7-972c-44bcb2252907
        required: true
        displayName: transactionID
      BeginTransactionID:
        type: string
        example: undefined
        required: true
        displayName: BeginTransactionID
      Id_Terminal:
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Customer:
        type: string
        example: 0000000168
        required: true
        displayName: Customer
      Password:
        type: integer
        example: 8401
        required: true
        displayName: Password
      dispenseStatus:
        type: string
        example: successful
        required: true
        displayName: dispenseStatus
      Amount:
        type: number
        example: 100.00
        required: true
        displayName: Amount
      WithdrawalAmount:
        type: number
        example: 100.00
        required: true
        displayName: WithdrawalAmount
