#%RAML 0.8
title: Payment system
version: 1.0
documentation:
- title: Payment system
  content: |
    # Introduction

    What does your API do?


    # Overview

    Things that the developers should know about


    # Authentication

    What is the preferred way of using the API?


    # Error Codes

    What errors and status codes can a user expect?


    # Rate limit

    Is there a limit to the number of requests an user can send?
baseUri: https://payment.checksystem.biz
baseUriParameters: {}
/registerUser:
  get:
    description: ''
    responses: {}
    queryParameters:
      Id_Terminal:
        description: ''
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Id_Group:
        description: ''
        type: integer
        example: 1
        required: true
        displayName: Id_Group
/queryUser:
  get:
    description: ''
    responses: {}
    queryParameters:
      Id_Terminal:
        description: ''
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Customer:
        description: ''
        type: integer
        required: true
        displayName: Customer
      Password:
        description: ''
        type: integer
        example: 8401
        required: true
        displayName: Password
/querySystemStatus:
  get:
    description: ''
    responses: {}
    queryParameters:
      Id_Terminal:
        description: ''
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
/registerPayment:
  get:
    description: ''
    responses: {}
    queryParameters:
      transactionID:
        description: ''
        type: string
        example: 67ed42a6-4b96-45e8-b713-e1346cc658ae
        required: true
        displayName: transactionID
      Id_Terminal:
        description: ''
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Customer:
        description: ''
        type: integer
        required: true
        displayName: Customer
      Password:
        description: ''
        type: integer
        example: 8401
        required: true
        displayName: Password
      Amount:
        description: ''
        type: number
        example: 100.00
        required: true
        displayName: Amount
/registerPayoutBegin:
  get:
    description: ''
    responses: {}
    queryParameters:
      transactionID:
        description: ''
        type: string
        example: a5585d18-4bf4-4da6-a3ef-be9dad94db05
        required: true
        displayName: transactionID
      Id_Terminal:
        description: ''
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Customer:
        description: ''
        type: integer
        required: true
        displayName: Customer
      Password:
        description: ''
        type: integer
        example: 8401
        required: true
        displayName: Password
      Amount:
        description: ''
        type: number
        example: 100.00
        required: true
        displayName: Amount
/registerPayoutEnd:
  get:
    description: ''
    responses: {}
    queryParameters:
      transactionID:
        description: ''
        type: string
        example: 541c9f41-0ff0-416e-9cd3-7945b8c9516a
        required: true
        displayName: transactionID
      BeginTransactionID:
        description: ''
        type: string
        example: undefined
        required: true
        displayName: BeginTransactionID
      Id_Terminal:
        description: ''
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Customer:
        description: ''
        type: integer
        required: true
        displayName: Customer
      Password:
        description: ''
        type: integer
        example: 8401
        required: true
        displayName: Password
      dispenseStatus:
        description: ''
        type: string
        example: successful
        required: true
        displayName: dispenseStatus
      Amount:
        description: ''
        type: number
        example: 100.00
        required: true
        displayName: Amount
      WithdrawalAmount:
        description: ''
        type: number
        example: 100.00
        required: true
        displayName: WithdrawalAmount
