#%RAML 0.8
title: Payment system
version: 1.0
documentation:
- title: Payment system
  content: |
    # Introduction

    What does your API do?


    # Overview

    Things that the developers should know about


    # Authentication

    What is the preferred way of using the API?


    # Error Codes

    What errors and status codes can a user expect?


    # Rate limit

    Is there a limit to the number of requests an user can send?
baseUri: https://payment.checksystem.biz
protocols:
- HTTPS
baseUriParameters: {}
/registerUser:
  get:
    responses:
      200:
        description: Success
    queryParameters:
      Id_Terminal:
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Id_Group:
        type: integer
        example: 1
        required: true
        displayName: Id_Group
/queryUser:
  get:
    responses:
      200:
        description: Success
    queryParameters:
      Id_Terminal:
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Customer:
        type: string
        example: 0000000168
        required: true
        displayName: Customer
      Password:
        type: integer
        example: 8401
        required: true
        displayName: Password
/querySystemStatus:
  get:
    responses:
      200:
        description: Success
    queryParameters:
      Id_Terminal:
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
/registerPayment:
  get:
    responses:
      200:
        description: Success
    queryParameters:
      transactionID:
        type: string
        example: 3417bf13-6e67-4516-a786-11a9446fd055
        required: true
        displayName: transactionID
      Id_Terminal:
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Customer:
        type: string
        example: 0000000168
        required: true
        displayName: Customer
      Password:
        type: integer
        example: 8401
        required: true
        displayName: Password
      Amount:
        type: number
        example: 100.00
        required: true
        displayName: Amount
/registerPayoutBegin:
  get:
    responses:
      200:
        description: Success
    queryParameters:
      transactionID:
        type: string
        example: 1498de16-2a5b-452d-94a8-d48d0828ea35
        required: true
        displayName: transactionID
      Id_Terminal:
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Customer:
        type: string
        example: 0000000168
        required: true
        displayName: Customer
      Password:
        type: integer
        example: 8401
        required: true
        displayName: Password
      Amount:
        type: number
        example: 100.00
        required: true
        displayName: Amount
/registerPayoutEnd:
  get:
    responses:
      200:
        description: Success
    queryParameters:
      transactionID:
        type: string
        example: 8444d8ed-0c1d-4200-8915-88479e3390b7
        required: true
        displayName: transactionID
      BeginTransactionID:
        type: string
        example: undefined
        required: true
        displayName: BeginTransactionID
      Id_Terminal:
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Customer:
        type: string
        example: 0000000168
        required: true
        displayName: Customer
      Password:
        type: integer
        example: 8401
        required: true
        displayName: Password
      dispenseStatus:
        type: string
        example: successful
        required: true
        displayName: dispenseStatus
      Amount:
        type: number
        example: 100.00
        required: true
        displayName: Amount
      WithdrawalAmount:
        type: number
        example: 100.00
        required: true
        displayName: WithdrawalAmount
