#%RAML 0.8
title: Payment system
version: 1.0
documentation:
- title: Payment system
  content: |
    # Introduction

    What does your API do?


    # Overview

    Things that the developers should know about


    # Authentication

    What is the preferred way of using the API?


    # Error Codes

    What errors and status codes can a user expect?


    # Rate limit

    Is there a limit to the number of requests an user can send?
baseUri: https://payment.checksystem.biz
protocols:
- HTTPS
baseUriParameters: {}
/registerUser:
  get:
    responses:
      200:
        description: Success
    queryParameters:
      Id_Terminal:
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Id_Group:
        type: integer
        example: 1
        required: true
        displayName: Id_Group
/queryUser:
  get:
    responses:
      200:
        description: Success
    queryParameters:
      Id_Terminal:
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Customer:
        type: string
        example: 0000000168
        required: true
        displayName: Customer
      Password:
        type: integer
        example: 8401
        required: true
        displayName: Password
/querySystemStatus:
  get:
    responses:
      200:
        description: Success
    queryParameters:
      Id_Terminal:
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
/registerPayment:
  get:
    responses:
      200:
        description: Success
    queryParameters:
      transactionID:
        type: string
        example: 2773766d-ebfa-49f9-a116-866b0efd18d5
        required: true
        displayName: transactionID
      Id_Terminal:
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Customer:
        type: string
        example: 0000000168
        required: true
        displayName: Customer
      Password:
        type: integer
        example: 8401
        required: true
        displayName: Password
      Amount:
        type: number
        example: 100.00
        required: true
        displayName: Amount
/registerPayoutBegin:
  get:
    responses:
      200:
        description: Success
    queryParameters:
      transactionID:
        type: string
        example: 4e2c50ee-ce79-4906-8909-ff193815e262
        required: true
        displayName: transactionID
      Id_Terminal:
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Customer:
        type: string
        example: 0000000168
        required: true
        displayName: Customer
      Password:
        type: integer
        example: 8401
        required: true
        displayName: Password
      Amount:
        type: number
        example: 100.00
        required: true
        displayName: Amount
/registerPayoutEnd:
  get:
    responses:
      200:
        description: Success
    queryParameters:
      transactionID:
        type: string
        example: b785d7bd-3394-4a9a-b8f0-04f2355bcb44
        required: true
        displayName: transactionID
      BeginTransactionID:
        type: string
        example: undefined
        required: true
        displayName: BeginTransactionID
      Id_Terminal:
        type: integer
        example: 1234
        required: true
        displayName: Id_Terminal
      Customer:
        type: string
        example: 0000000168
        required: true
        displayName: Customer
      Password:
        type: integer
        example: 8401
        required: true
        displayName: Password
      dispenseStatus:
        type: string
        example: successful
        required: true
        displayName: dispenseStatus
      Amount:
        type: number
        example: 100.00
        required: true
        displayName: Amount
      WithdrawalAmount:
        type: number
        example: 100.00
        required: true
        displayName: WithdrawalAmount
